/* Styles for the desktop table */

// // Edumed Styles
// .edumed {
// 	&-salaries-careers-table-desktop {
// 		h2 {
// 			color: $edumed-primary-color;
// 		}

// 		.ventrix-table-container {
// 			&.height-fixed-desktop {
// 				height: 522px;
// 			}
// 		}

// 		.ventrix-table {
// 			border: 1px solid $edumed-secondary-color;
// 			border-top-width: 4px;
// 			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

// 			th {
// 				font-weight: 500;
// 				color: $edumed-secondary-color;
// 			}

// 			tbody {
// 				tr {
// 					border-top: 1px solid $gray-border;
// 				}

// 				.cafeto-us-row {
// 					/* Specific styles for the 'United States' row if necessary */
// 					background-color: $gray-background;
// 				}
// 			}
// 		}

// 		.ventrix-pagination {
// 			.pagination .cafeto-pagination__buttons {
// 				display: flex;
// 				flex-direction: row;
// 				align-items: center;
// 				flex-wrap: nowrap;
// 				gap: rem-calc(8);
// 			}

// 			.cafeto-prev-page,
// 			.cafeto-next-page {
// 				@include button-styles(
// 					$white-color,
// 					$black-color,
// 					$disabled-border-color,
// 					not-allowed
// 				);

// 				&.enabled {
// 					@include button-styles(
// 						$edumed-primary-color,
// 						$white-color,
// 						transparent,
// 						pointer
// 					);
// 				}

// 				&:not(:disabled) {
// 					@include button-styles(
// 						$edumed-primary-color,
// 						$white-color,
// 						transparent,
// 						pointer
// 					);
// 				}

// 				&:disabled {
// 					@include button-styles(
// 						$white-color,
// 						$black-color,
// 						$disabled-border-color,
// 						not-allowed
// 					);
// 				}
// 			}
// 		}
// 	}
// }

// // Public Service Degrees Styles
// .psd {
// 	&-salaries-careers-table-desktop {
// 		h2 {
// 			color: $psd-primary-color;
// 		}

// 		.ventrix-table-container {
// 			border-radius: 10px;
// 			border: 1px solid $psd-primary-color;
// 			box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// 			padding-inline: 10px;

// 			&.height-fixed-desktop {
// 				height: 563px;
// 			}
// 		}

// 		.ventrix-table {
// 			border: none;

// 			th {
// 				font-weight: 600;
// 				color: $psd-primary-color;
// 			}

// 			tbody {
// 				tr {
// 					border-top: 1px solid $psd-blue-opacity;

// 					td {
// 						color: $black-color;
// 					}
// 				}
// 			}
// 		}

// 		.ventrix-table-controls {
// 			.show-entries {
// 				gap: 16px;
// 				display: inline-flex;
// 				align-items: baseline;
// 				color: $black-color;

// 				.cafeto-entries-select {
// 					border-radius: 20px;
// 					padding: 10px 16px;
// 				}
// 			}

// 			.show-search-input {
// 				gap: 20px;
// 				display: inline-flex;
// 				align-items: baseline;
// 				color: $black-color;
// 				white-space: nowrap;

// 				.cafeto-search-input {
// 					border-radius: 20px;
// 					padding: 10px 16px;
// 				}
// 			}
// 		}

// 		.ventrix-pagination {
// 			.cafeto-prev-page,
// 			.cafeto-next-page {
// 				width: 43vw;
// 				padding: 12px 15px;
// 				border-width: 1px;
// 				border-style: solid;
// 				border-color: $gray-light;
// 				border-radius: 20px; // Rounded corners
// 				background-color: $white-color;
// 				color: $black-color;
// 				cursor: not-allowed;
// 				font-size: $font-size-sm; // Font size

// 				@media (min-width: 640px) {
// 					max-width: rem-calc(100);
// 					width: rem-calc(129);
// 				}

// 				&.enabled {
// 					border-color: $psd-primary-color;
// 					background-color: $psd-primary-color;
// 					color: $white-color;
// 					cursor: pointer;
// 				}

// 				&:not(:disabled) {
// 					border-color: $psd-primary-color;
// 					background-color: $psd-primary-color;
// 					color: $white-color;
// 					cursor: pointer;
// 				}

// 				&:disabled {
// 					border-color: $gray-light;
// 					background-color: $white-color;
// 					color: $black-color;
// 					cursor: pointer;
// 				}
// 			}

// 			.source {
// 				.table-source,
// 				.table-source-italics {
// 					color: $black-color;
// 				}
// 			}

// 			.pagination {
// 				.showing-entries {
// 					color: $black-color;
// 				}
// 			}
// 		}
// 	}
// }

// // OMD Styles
// .omd {
// 	&-salaries-careers-table-desktop {
// 		h2 {
// 			color: $omd-primary-color;
// 		}

// 		.ventrix-table-container {
// 			// border-radius: 10px;
// 			// border: 1px solid $omd-primary-color;
// 			// box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
// 			// padding-inline: 10px;

// 			&.height-fixed-desktop {
// 				height: 563px;
// 			}
// 		}

// 		.ventrix-table {
// 			border: none;
// 		}

// 		.ventrix-pagination {
// 			.cafeto-prev-page,
// 			.cafeto-next-page {
// 				width: 43vw;
// 				padding: 12px 15px;
// 				border-width: 1px;
// 				border-style: solid;
// 				border-color: $gray-light;
// 				border-radius: 20px; // Rounded corners
// 				background-color: $white-color;
// 				color: $black-color;
// 				cursor: not-allowed;
// 				font-size: $font-size-sm; // Font size

// 				@media (min-width: 640px) {
// 					max-width: rem-calc(100);
// 					width: rem-calc(129);
// 				}

// 				&.enabled {
// 					border-color: $omd-primary-color;
// 					background-color: $omd-primary-color;
// 					color: $white-color;
// 					cursor: pointer;
// 				}

// 				&:not(:disabled) {
// 					border-color: $omd-primary-color;
// 					background-color: $omd-primary-color;
// 					color: $white-color;
// 					cursor: pointer;
// 				}

// 				&:disabled {
// 					border-color: $gray-light;
// 					background-color: $white-color;
// 					color: $black-color;
// 					cursor: pointer;
// 				}
// 			}

// 			.source {
// 				.table-source,
// 				.table-source-italics {
// 					color: $black-color;
// 				}
// 			}

// 			.pagination {
// 				.showing-entries {
// 					color: $black-color;
// 				}
// 			}
// 		}
// 	}
// }

// // PhDs Styles.
// .phds {
// 	&-salaries-careers-table-desktop {
// 		h2 {
// 			color: $phds-primary-color;
// 		}

// 		.ventrix-table-container {
// 			border-radius: 6px;
// 			border: 1px solid $phds-primary-color;
// 			padding-inline: 10px;

// 			&.height-fixed-desktop {
// 				height: 680px;
// 			}

// 			.ventrix-table {
// 				border: none;

// 				th {
// 					font-weight: 600;
// 					color: $phds-primary-color;
// 					padding-block: 20px;
// 				}

// 				tbody {
// 					tr {
// 						border-top: 1px solid $phds-primary-color-opacity;

// 						td {
// 							color: $black-color;
// 							padding-block: 20px;
// 						}
// 					}
// 				}
// 			}
// 		}

// 		.ventrix-table-controls {
// 			.show-entries {
// 				gap: 16px;
// 				display: inline-flex;
// 				align-items: baseline;
// 				color: $black-color;

// 				.cafeto-entries-select {
// 					border-radius: 6px;
// 					padding: 10px 16px;
// 				}
// 			}

// 			.show-search-input {
// 				gap: 20px;
// 				display: inline-flex;
// 				align-items: baseline;
// 				color: $black-color;
// 				white-space: nowrap;

// 				.cafeto-search-input {
// 					border-radius: 6px;
// 					padding: 10px 16px;
// 				}
// 			}
// 		}

// 		.ventrix-pagination {
// 			.cafeto-prev-page,
// 			.cafeto-next-page {
// 				width: 43vw;
// 				padding: 12px 15px;
// 				border-width: 1px;
// 				border-style: solid;
// 				border-color: $gray-light;
// 				border-radius: 6px; // Rounded corners
// 				background-color: $white-color;
// 				color: $black-color;
// 				cursor: not-allowed;
// 				font-size: $font-size-sm; // Font size

// 				@media (min-width: 640px) {
// 					max-width: rem-calc(100);
// 					width: rem-calc(129);
// 				}

// 				&.enabled {
// 					border-color: $phds-primary-color;
// 					background-color: $phds-primary-color;
// 					color: $white-color;
// 					cursor: pointer;
// 				}

// 				&:not(:disabled) {
// 					border-color: $phds-primary-color;
// 					background-color: $phds-primary-color;
// 					color: $white-color;
// 					cursor: pointer;
// 				}

// 				&:disabled {
// 					border-color: $gray-light;
// 					background-color: $white-color;
// 					color: $black-color;
// 					cursor: pointer;
// 				}
// 			}

// 			.source {
// 				.table-source,
// 				.table-source-italics {
// 					color: $black-color;
// 				}
// 			}

// 			.pagination {
// 				.showing-entries {
// 					color: $black-color;
// 				}
// 			}
// 		}
// 	}
// }

// General Styles
.salaries-careers-table-desktop {
	padding: 0.25rem;
	display: block;

    .mobile-table-label {
        font-family: var(--vtx-tables-font-main);
		font-weight: 600;
		font-size: 15px;
		line-height: 25px;
		text-transform: uppercase;
        color: var(--vtx-tables-primary-color);
		background-color: var(--vtx-tables-button-color);
		border: 1px solid var(--vtx-tables-primary-color);
		padding: 10px 10px 10px 20px;
		border-radius: 10px 10px 0 0;
        margin: 0;
	}

    .ventrix-table-container {
		overflow-x: auto;
        border: 1px solid var(--vtx-tables-primary-color);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

		&.height-fixed-desktop {
			overflow-y: hidden;
		}
	}

	.ventrix-table-controls {
		@include flex-center(row, space-between, center);
		margin-bottom: 1rem;

		.show-entries {
            font-family: var(--vtx-tables-font-secondary);
			gap: 16px;
			display: inline-flex;
			align-items: baseline;
			font-size: 16px;
			font-weight: 400;
			color: var(--vtx-tables-text-color);

			.cafeto-entries-select {
				border: 1px solid $gray-border;
				border-radius: 10px;
				padding: 10px 16px;
			}
		}

		.show-search-input {
            font-family: var(--vtx-tables-font-secondary);
			gap: 20px;
			display: inline-flex;
			align-items: baseline;
			white-space: nowrap;
			font-size: 16px;
			font-weight: 400;
			color: var(--vtx-tables-text-color);

			.cafeto-search-input {
				border: 1px solid $gray-border;
				border-radius: 10px;
				padding: 10px 16px;
				margin: 0;
                font-size: 16px;
			    font-weight: 400;
			    color: var(--vtx-tables-text-color);
                opacity: 0.6;
			}
		}
	}

	.ventrix-table {
		width: 100%;
		background-color: $white-color;
		overflow: hidden;
		font-size: $font-size-sm;
		border-collapse: collapse;

		th,
		td {
			padding: 0.75rem 1.5rem;
			text-align: center;
			white-space: nowrap;

			&:first-child {
				text-align: left;
			}
		}

		th {
			font-size: 15px;
			text-transform: uppercase;
            font-weight: 600;
			cursor: pointer;
            background-color: var(--vtx-tables-primary-color);
            color: var(--vtx-tables-white-color);

			.cafeto-sort-icon {
				margin-left: 0.25rem;
			}
		}

        tbody{
            tr{
                &:not(:last-child) td {
                    border-bottom: 1px solid var(--vtx-tables-table-border-color);
                }

                td:not(:last-child) {
                    border-right: 1px solid var(--vtx-tables-table-border-color);
                }

                &:nth-child(odd) td:not(.is-col-median) {
                    background-color: var(--vtx-tables-light-gray, #F9F9F9);
                }

                &:nth-child(even) td:not(.is-col-median) {
                    background-color: var(--vtx-tables-white-color);
                }

                td{
                    font-family: var(--vtx-tables-font-secondary);
                    color: var(--vtx-tables-text-color);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                }

                td:first-child {
                    font-family: var(--vtx-tables-font-main);
                    font-weight: 600;
                }

                td.is-col-median {
                    font-family: var(--vtx-tables-font-secondary-bold);
                    font-weight: 700;
                }

                td.is-col-median {
                    background-color: var(--vtx-tables-median-bg);
                }
            }
        }
	}

	.ventrix-pagination {
		display: flex;
		flex-direction: column;
		gap: rem-calc(16);
		margin-block-start: rem-calc(24);

		@media (min-width: 640px) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: rem-calc(24);
		}

		&__left {
			flex: 1;
			min-width: 0;
            display: flex;
            flex-direction: column;
            gap: 8px;
		}

		&__actions {
			flex-shrink: 0;
		}

		.ventrix-pagination-info {
			margin: 0;
			font-family: var(--vtx-tables-font-secondary);
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            color: var(--vtx-tables-text-color);
		}

		.cafeto-pagination__buttons {
			display: flex;
			flex-wrap: nowrap;
			gap: rem-calc(8);
		}

		.cafeto-prev-page,
		.cafeto-next-page {
			padding: rem-calc(12) rem-calc(15);
			border-radius: 10px;
			font-family: $font-main;
			font-size: $font-size-sm;
			line-height: 1.2;
			cursor: pointer;
            width: 115px;
		}

		.cafeto-prev-page {
			border: 1px solid $gray-light;
			background-color: $white-color;
			color: var(--vtx-tables-text-color);

			&:disabled {
				cursor: not-allowed;
				opacity: 0.6;
			}
		}

		.cafeto-next-page {
			border: 1px solid var(--vtx-tables-primary-color);
			background-color: var(--vtx-tables-primary-color);
			color: var(--vtx-tables-white-color);

			&:disabled {
				border-color: $gray-light;
				background-color: $white-color;
				color: var(--vtx-tables-text-color);
				cursor: not-allowed;
				opacity: 0.6;
			}
		}
	}

	.table-source {
		margin: 0;
		padding: 0;
		font-family: var(--vtx-tables-font-secondary);
		font-size: 14px;
		line-height: 24px;
        font-weight: 400;
		color: var(--vtx-tables-text-color);

		a {
			color: var(--vtx-tables-primary-color);
			text-decoration: underline;
		}
	}

	h2 {
		font-size: $font-size-2xl;
		font-weight: bold;
		margin-bottom: 1rem;
	}
}

.salaries-table-geo-desktop.salaries-careers-table-desktop {
  .ventrix-table-container {
    border-radius: 10px;
  }

  .ventrix-pagination {
    gap: 20px;

    .ventrix-pagination-info {
      padding: 0;
    }

    .cafeto-pagination__buttons {
      gap: rem-calc(6);
    }

    .cafeto-prev-page,
    .cafeto-next-page {
      padding: rem-calc(13) rem-calc(15);
      border-radius: 20px;
    }

    .cafeto-prev-page {
      border: 1px solid #CCCCCC;
    }
  }

  .table-source {
    font-size: 16px;
    line-height: 26px;

    strong {
      font-weight: 700;
    }

    a {
      color: var(--vtx-link-color);
    }
  }

  .table-geo-link{
    font-family: var(--vtx-tables-font-secondary-bold);
    color: var(--vtx-tables-primary-color);
    text-decoration: underline;

    &:hover{
      color: var(--vtx-tables-hover-color);
    }
  }
}

