/**
 * The following styles get applied inside the editor only.
 *
*/

@import 'partials/variables';
@import 'partials/traditional-rankings';
@import 'partials/featured-rankings';
@import 'partials/ranking-2026';
@import 'partials/rankings-2026-v2';

// Rankings on the editor side
.wp-block-cafeto-edumed-rankings{
    .rankings-editor{
        border: 1px solid #e1d9ff;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
        border-radius: 20px;
        padding-block: 0;
        padding-inline: 30px;
        color: #1A237E;
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
}