.cafeto-edumed-rankings-block {
	&.rankings-2026 {
		.rankings-top-bar {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			margin-inline: auto;
			margin-block-end: 30px;

			@media screen and (max-width: 768px) {
				flex-direction: column-reverse;
				gap: 25px;
			}

			&__about {
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				color: var(--vtx-link-color);
				text-decoration: underline;
				border: none;
				background-color: transparent;
				position: relative;
				padding-left: 0;
				cursor: pointer;

				&::after {
					content: url(./assets/icons-svg/rankings-i-icon.svg);
					position: absolute;
					right: -25px;
					top: 2px;
				}
			}

			&__expand-collapse {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;

				button {
					min-height: 35px;
					border-radius: 20px;
					background-color: #f9fafc;
					border: 1px solid rgba(26, 35, 126, 0);
					font-weight: 400;
					font-size: 12px;
					line-height: 26px;
					padding: 5px 20px;
					color: var(--vtx-primary-color);
					cursor: pointer;

					&.active,
					&:hover {
						border: 1px solid var(--vtx-primary-color);
					}
				}
			}
		}

		.ranking-lists {
			&__header {
				display: grid;
				grid-template-columns: 0.2fr 1fr 0.4fr 0.3fr 0.4fr;
				gap: 5px;
				padding: 10px 30px;
				background-color: #f9fafc;
				border: 1px solid #e1d9ff;
				border-bottom: none;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;

				@media screen and (max-width: 768px) {
					display: none;
				}

				&-item {
					color: #191919;
					font-size: 12px;
					line-height: 22px;
					font-weight: 600;

					&:nth-child(1),
					&:nth-child(2) {
						justify-self: start;
					}

					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5) {
						justify-self: center;
					}
				}
			}

			&__accordion {
				box-shadow: 0px 4px 4px 0px #0000001a;
				border: 1px solid #e1d9ff;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;

				@media screen and (max-width: 768px) {
					border-radius: 20px;
				}
			}
		}

		.ranking-lists {
			&__accordion {
				&-item {
					padding: 20px 30px;
					border-top: 1px solid #e1d9ff;

					@media screen and (max-width: 768px) {
						padding: 20px;
					}

					&:first-child {
						border-top: none;
					}

					&:last-child {
						border-bottom-left-radius: 20px;
						border-bottom-right-radius: 20px;
					}

					&:nth-child(even) {
						background-color: #f9fafc;

						.box-apply {
							background-color: #fff;
						}
					}

					// Expanded state
					&.is-open {
						padding-inline: 30px;
						padding-block: 20px 30px;

						@media screen and (max-width: 768px) {
							padding-inline: 20px;
						}

						.ranking-item__details {
							max-height: 100%; // big enough to fit expected content
							opacity: 1;
						}

						.ranking-item__summary {
							padding-bottom: 10px;
							border-bottom: 1px solid #e7e7e7;
							margin-bottom: 20px;

							@media screen and (max-width: 768px) {
								border-bottom: none;
								padding: 0;
							}
						}
					}
				}

				.ranking-item {
					&__summary {
						position: relative;
						display: grid;
						grid-template-columns: .14fr 1fr 1.08fr;
						gap: 5px;
						align-items: center;
						cursor: pointer;

						@media screen and (max-width: 768px) {
							display: flex;
							flex-wrap: wrap;
							gap: 20px;
						}

						.toggle-details {
							position: absolute;
							right: 0;
							top: 50%;
							transform: translateY(-50%);
							cursor: pointer;
							border: 0;
							background: none;
							padding: 0;
							color: var(--vtx-primary-color);
							font-size: 20px;
							line-height: 30px;

							@media screen and (max-width: 768px) {
								top: 0;
								transform: none;
							}
						}
					}

					&__number {
						color: #fff;
						background-color: var(--vtx-primary-color);
						width: 36px;
						height: 36px;
						border-radius: 200px;
						text-align: center;
						font-size: 16px;
						font-weight: 700;
						justify-self: start;
						line-height: 26px;
						align-content: center;

						@media screen and (max-width: 768px) {
							margin-top: 5px;
						}
					}

					&__school {
						display: flex;
						flex-direction: column;
						width: 100%;
						gap: 0;
						justify-self: start;

						@media screen and (max-width: 768px) {
							width: 95%;
							display: grid;
							grid-template-columns: 0.2fr 1.8fr;
							gap: 20px;
						}

						h4 {
							font-size: 16px;
							line-height: 26px;
							font-weight: 700;
							color: var(--vtx-primary-color);
							margin: 0;
							padding: 0;
							text-decoration: underline;
						}

						.ranking-item__location {
							font-size: 14px;
							line-height: 24px;
							font-weight: 400;
							color: #191919;
							text-decoration: none;
						}
					}

					&__stats {
						display: grid;
						gap: 5px;
						grid-template-columns: 1fr .7fr .95fr;
						text-align: center;

						@media screen and (max-width: 768px) {
							width: 100%;
							border-top: 1px solid #e7e7e7;
							padding-block: 10px;
							border-bottom: 1px solid #e7e7e7;
						}

						.stats-content {
							@media screen and (max-width: 768px) {
								border-right: 1px solid #e7e7e7;

								&:last-child {
									border-right: none;
								}
							}

							&__title {
								font-size: 20px;
								line-height: 30px;
								font-weight: 500;
								color: #191919;

								@media screen and (max-width: 768px) {
									font-size: 18px;
									line-height: 26px;
								}
							}

							&__subtitle {
								display: none;
								font-size: 11px;
								line-height: 20px;
								font-weight: 600;
								color: #191919;

								@media screen and (max-width: 768px) {
									display: block;
									font-size: 9px;
								}
							}
						}
					}

					&__details {
						display: grid;
						grid-template-columns: 1.3fr 0.6fr;
						gap: 60px;
						overflow: hidden;
						max-height: 0;
						opacity: 0;
						transition:
							max-height 0.4s ease,
							opacity 0.3s ease;
						will-change: max-height, opacity;

						@media screen and (max-width: 768px) {
							grid-template-columns: 1fr;
							gap: 20px;
						}
					}

					&__content {
						p {
							&:last-child {
								padding-bottom: 0;
							}
						}

						h5.subtitle {
							margin-top: 30px;
							margin-bottom: 20px;
							padding: 0;

							@media screen and (max-width: 768px) {
								font-size: 18px;
								line-height: 26px;
							}
						}

						.box-apply {
							display: none;

							@media screen and (max-width: 768px) {
								display: block;
							}
						}
					}

					&__program-details {
						@media screen and (max-width: 768px) {
							display: none;
						}
					}
				}

				.box-apply {
					background-color: #f9fafc;
					padding: 20px;
					border-radius: 20px;
					margin-right: 1px;
					box-shadow: 0px 2px 4px 0px #0000001a;

					@media screen and (max-width: 768px) {
						margin-top: 30px;
					}

					h5 {
						text-align: center;
						font-size: 16px;
						line-height: 26px;
						font-weight: 700;
						padding: 0;
						margin-bottom: 20px;

						@media screen and (max-width: 768px) {
							text-align: start;
							margin-top: 0;
						}
					}

					ul {
						list-style: none;
						padding: 0;
						margin-top: 20px;
						margin-bottom: 0;

						li {
							display: flex;
							flex-direction: column;
							font-size: 16px;
							line-height: 26px;
							font-weight: 600;
							text-align: center;
							margin-bottom: 14px;
							margin-top: 14px;
							border-bottom: 1px solid #e7e7e7;

							@media screen and (max-width: 768px) {
								font-size: 14px;
								line-height: 24px;
								flex-direction: row-reverse;
								justify-content: space-between;
								gap: 20px;
							}

							&:first-child {
								margin-top: 0;
							}

							&:last-child {
								margin-bottom: 0;
								border-bottom: none;
							}

							span {
								font-size: 13px;
								line-height: 24px;
								font-weight: 400;
								border: none;

								@media screen and (max-width: 768px) {
									font-size: 14px;
								}
							}
						}
					}
				}
			}
		}
	}
}

	// Rankings popup
	.rankings-popup{

		&--widget{
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding-block: 30px;
			padding-inline: 40px;
			z-index: 1001;
			padding: 30px;
			overflow-y: scroll;
			border: 1px solid #E1D9FF;
			border-radius: 20px;
			height: 100%;
			width: 730px;
			height: 600px;
			background-color: white;

			@media screen and (max-width: 991px){
				width: 85vw;
				height: 90vh;
			}

			&--close{
				position: absolute;
				top: 23px;
				right: 30px;
				font-size: 25px;
				font-weight: 700;
				cursor: pointer;
			}

			h2 {
				font-family: 'Poppins', sans-serif;
				padding-inline-end: 20px;
				padding-block-end: 0;
				font-weight: 600;
				font-size: 22px;
				line-height: 32px;
				color: #1A237E;
				margin-block-end: 30px;

				@media screen and (max-width: 991px){
					font-size: 20px !important;
					line-height: 28px;
				}
			}

			h3 {
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				font-size: 20px !important;
				line-height: 30px;
				color: #333333;
				margin-block-end: 20px;
				padding-block-end: 0;

				@media screen and (max-width: 991px){
					font-size: 18px !important;
					line-height: 26px;
				}
			}

			p:not(.rankings-popup--widget--subtitle){
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				color: #333333;
			}

			p + p{
				padding-block-start: 0;
			}

			ul{
				margin-block-start: 0;
				padding-inline-start: 0;
				list-style-type: none;

				li{
					position: relative;
					margin-block-end: 20px;
					padding-block-end: 0;
					padding-inline-start: 30px;

					&::before{
						content: '';
						background-color: #1A237E;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						position: absolute;
						left: 0;
						top: 8px;
					}
				}
			}

			  // Numbered list variation
			ol {
				margin-left: 0;
				padding-left: 35px;
				list-style: none;
				counter-reset: list-counter;

				li {
					position: relative;
					margin-bottom: 10px;
					list-style: none;

					> strong {
						display: inline-block;
						margin-bottom: 0;
						color: var(--base-color);
					}

					// Custom number styling
					&::before {
						content: '';
						position: absolute;
						display: flex;
						justify-content: center;
						align-items: center;
						content: counter(list-counter) '.';
						counter-increment: list-counter;
						width: 25px;
						height: 25px;
						color: var(--vtx-primary-color);

							font: {
								size: 16px;
								weight: bold;
							}
							
						left: -40px;
						top: 0;
					}
				}
			}
		}

		&--overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .3);
    		backdrop-filter: blur(3px);
			z-index: 1000;
		}

		.hidden {
			display: none;
		}
	}

.hidden-desktop {
	display: none;
	@media screen and (max-width: 768px) {
		display: inline-block;
	}
}

.hidden-mobile {
	display: inline-block;
	@media screen and (max-width: 768px) {
		display: none;
	}
}
