// Traditional Rankings
.cafeto-edumed-rankings-block.traditional-rankings{

	// Rankings top bar
	.rankings-top-bar{
		max-width: 960px;
		margin-inline: auto;
		margin-block-end: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 768px){
			flex-direction: column-reverse;
    		gap: 25px;
		}

		// Years buttons
		&--years{
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 126px;
			background: #F7F2FF;
    		border-radius: 200px;
			position: relative;
            display: none !important;

			@media screen and (max-width: 768px){
				width: 175px;
			}

			&:has(.disabled) {
				background-color: #f0f0f0;
			}

			a{
				max-width: 126px;
				width: 100%;
				min-height: 40px;
				border-radius: 200px;
				padding-block: 10px;
				padding-inline: 20px;
				font-weight: 700;
				font-size: 12px;
				line-height: 26px;
				color: #1A237E !important;
				background-color: #F7F2FF;
				cursor: pointer;
				text-decoration: none !important;
				border: none;

				@media screen and (max-width: 768px){
					max-width: 175px;
					font-size: 16px;
					text-align: center;
				}

				&.active{
					background-color: #1A237E;
					color: white !important;
				}

				&.disabled{
					background-color: #f0f0f0;
    				color: #cfcfcf !important;
					cursor: not-allowed;

					&:hover::after {
						content: attr(data-tooltip);
						display: block;
						position: absolute;
						background-color: #333;
						color: #fff;
						padding: 5px;
						border-radius: 3px;
						white-space: nowrap;
						z-index: 10;
						top: 100%; 
						left: 50%;
						transform: translateX(-50%);
						margin-block-start: 5px;
						background: #fff;
						border: 1px solid #8762cb;
						font-weight: 400;
						padding: 5px;
						color: #8762cb;
					}
				}
			}
		}

		// About the ranking button
		&--about{
            font-family: 'Open Sans', sans-serif;
			font-weight: 400;
			font-size: 16px;
			line-height: 26px;
			color: #F1571B;
			text-decoration: underline;
			border: none;
			background-color: transparent;
			position: relative;
			cursor: pointer;

			&::after{
				content: url(./assets/icons-svg/rankings-i-icon.svg);
				position: absolute;
				right: -25px;
				top: 2px;
			}
		}

		// Expand Collapse buttons
		&--expand-collapse{
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;

			button{
                font-family: 'Open Sans', sans-serif;
				width: 112px;
				min-height: 35px;
				border-radius: 200px;
				font-weight: 700;
				font-size: 12px;
				line-height: 26px;
				background-color: #F9FAFC;
				border: 1px solid #1A237E;
				font-weight: 400;
				font-size: 12px;
				line-height: 26px;
				color: #1A237E;
				cursor: pointer;

                &.collapsed{
                    border: 1px solid #F9FAFC;
                }
			}
		}
	}

	// Rankings list
	.rankings-list{
		max-width: 960px;
		margin-inline: auto;
		margin-block-end: 100px;
		display: flex;
		flex-direction: column;
		gap: 30px;
        
		&__item{
            display: flex;
            flex-direction: row;
            gap: 20px;
            border: 1px solid #E1D9FF;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.10);
            border-radius: 20px;
            padding-block: 30px 85px;
            padding-inline: 30px;
            position: relative;

			@media screen and (max-width: 768px){
                flex-direction: column;
                padding-block: 20px;
                padding-inline: 20px;
                align-items: flex-start;
			}

            &-toggle {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.4s ease;
        
                &.expanded {
                    opacity: 1;
                    max-height: 1000px;
                    transition: max-height 0.4s ease;

                    @media screen and (max-width: 768px){
                        display: flex;
                        flex-direction: column;
                        gap: 30px;
                    }
                }
            }
        
            &-toggle-btn {
                background: none;
                border: none;
                cursor: pointer;
                font-family: Open Sans;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                padding: 0;
                color: #F1571B;
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%); 
                display: flex;
                flex-direction: column;
                align-self: center;

                @media screen and (max-width: 768px){
                    position: relative;
                    left: auto;
                    bottom: auto;
                    transform: none;
                    border-bottom-left-radius: 0;
                    padding: 0;
                    width: 80px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0;
                }

                &.expanded{
                    flex-direction: column-reverse;
                }

                &::after {
                    content: '';
                    display: inline-block;
                    width: 16px; // adjust as needed
                    height: 16px; // adjust as needed
                    background: url('./assets/icons-svg/more-details.svg') no-repeat center;
                    background-size: contain;
                    transform: rotate(180deg);
                    transition: transform 0.3s ease;
                    position: relative;
                    top: 0;
                    align-self: center;
                    
                    @media screen and (max-width: 768px){
                        background: url('./assets/icons-svg/rankings-collapsed-icon.svg') no-repeat center;
                        right: auto;

                    }
                }
            
                &.expanded::after {
                    transform: rotate(0deg);

                    @media screen and (max-width: 768px){
                        background: url('./assets/icons-svg/rankings-expanded-icon.svg') no-repeat center;

                    }
                }

                // &::after{
                //     content: url(./assets/icons-svg/more-details.svg);
                //     position: relative;
                //     top: 0;
                //     align-self: center;
                // }

                // &.expanded::after{
                //     content: url(./assets/icons-svg/less-details.svg);
                // }
            }

            // Left section (Heading + Content + Blurbs)
            &-left {
                flex: 2;
                display: flex;
                flex-direction: column;
                width: 100%;
                order: 1; // On mobile, this moves below the Right Section
                gap: 0;
                
                @media screen and (max-width: 768px){
                    gap: 30px;
                }
            }

            // Right section (Program Details)
            &-right {
                flex: 1;
                background-color: #F9FAFC;
                border-radius: 20px;
                padding: 20px;
                max-width: 250px;
                order: 2;
                
                max-height: 1000px;
                transition: max-height 0.4s ease;

                @media screen and (min-width: 769px) {
                    &.collapsed {
                        max-height: 330px;
                        overflow: hidden;
                        transition: max-height 0.4s ease;
                    }
                }

                @media screen and (max-width: 768px) {
                    padding: 15px;
                    max-width: 100%;
                    order: 1; // Move to the first position on mobile
                }
            }

            &-blurbs {
                display: flex;
                flex-direction: column;
                width: 100%;
                order: 3; // Ensures it appears after Program Details
            }

			&-heading{
				display: flex;
				flex-direction: column;
                gap: 30px;
				// cursor: pointer;
				position: relative;

				@media screen and (max-width: 768px){
					flex-direction: column;align-items: flex-start;
					gap: 30px;
				}

				&__top{
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 20px;
					position: relative;

					@media screen and (max-width: 768px){
						width: 100%;
                        align-items: center;
                        gap: 20px;
					}

					&-rank{
						background-color: #1A237E;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 44px;
						height: 44px;
						border-radius: 200px;
						color: white;
						font-weight: 700;
						font-size: 16px;
						line-height: 26px;
						flex-shrink: 0;

						@media screen and (max-width: 768px){
							flex-shrink: 0;
						}
					}

					&-title{
						display: flex;
						flex-direction: column;
						flex-shrink: 1;
						max-width: 530px;

						@media screen and (max-width: 768px){
							flex-shrink: 1;
							// padding-inline-end: 20px;
							max-width: 100%;
						}

						h4{
							margin-block: 0;
							padding-block-end: 0;

							a{
								color: #1A237E !important;
								
								&:hover{
									text-decoration: underline !important;
								}
							}
						}
						
						p{
							margin-block-end: 0;
							padding-block-end: 0;
							font-weight: 400;
							font-size: 16px;
							line-height: 26px;
							color: #1A237E;
						}
					}
				}

                &__content{
    
                    p{
                        &:last-child{
                            margin-block-end: 0;
                            padding-block-end: 0;
                        }
                    }
                }
            }

			&-data{

                &__title{
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: 0%;
                    color: #1A237E !important;
                    margin-block-end: 20px;
                    padding: 0;
                    text-align: center;
                }

				ul{					
					margin-block: 0;
                    padding: 0;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: space-around;
					gap: 0;
                    width: 100%;
                    
					li{
                        display: flex;
						flex-direction: column-reverse;
						align-items: center;
						justify-content: center;
						gap: 5px;
						padding-block: 14px;
						padding-inline-start: 0 !important;
                        width: 100%;

                        font-family: Poppins;
                        font-weight: 600;
						font-size: 18px;
						line-height: 26px;
						color: #333333;
                        border-bottom: 1px solid #E7E7E7;

                        @media screen and (max-width: 768px) {
                            flex-direction: row;
                            justify-content: space-between;
                            font-size: 14px;
                            font-weight: 700;
                            line-height: 22px;
                        }
                        
                        &:first-child{
                            padding-block-start: 0;
                        }

                        &:last-child{
                            padding-block-end: 0;
                            border-bottom: none;
                        }

						span{
                            font-family: "Open Sans", sans-serif;
							font-weight: 400;
                            font-size: 13px;
                            line-height: 22px;
                            color: #333333;
							border-bottom: none;
                            text-align: center;

                            @media screen and (max-width: 768px) {
                                font-size: 14px;
                            }

							img{
								height: 15px;
							}
						}

						span.avg-default{
							font-weight: 700;
						}
					}
				}
			}

            &-blurbs{
                
                @media screen and (max-width: 768px) {
                    margin-block-start: 0;
                }

                &__title{
                    font-family: Poppins;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    letter-spacing: 0%;
                    color: #1A237E !important;
                    margin-block-end: 30px;
                    padding: 0;
                }

                ul{
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    
                    li{
                        margin-block-end: 20px;
                        padding: 0;
                        padding-inline-start: 30px;
                        font-family: Open Sans;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 26px;
                        position: relative;

                        &:last-child{
                            margin-block-end: 0;
                        }

                        &::before{
                            content: url(./assets/icons-svg/blurbs-icon.svg);
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                }
            }
		}
	}

	// Rankings popup
	.rankings-popup{

		&--widget{
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			padding-block: 30px;
			padding-inline: 40px;
			z-index: 1001;
			padding: 30px;
			overflow-y: scroll;
			border: 1px solid #E1D9FF;
			border-radius: 20px;
			height: 100%;
			width: 730px;
			height: 600px;
			background-color: white;

			@media screen and (max-width: 991px){
				width: 85vw;
				height: 90vh;
			}

			&--close{
				position: absolute;
				top: 23px;
				right: 30px;
				font-size: 25px;
				font-weight: 700;
				cursor: pointer;
			}

			&--title{
				font-family: 'Poppins', sans-serif;
				padding-inline-end: 20px;
				padding-block-end: 0;
				font-weight: 600;
				font-size: 22px;
				line-height: 32px;
				color: #1A237E;
				margin-block-end: 30px;

				@media screen and (max-width: 991px){
					font-size: 20px;
					line-height: 28px;
				}
			}

			&--subtitle{
				font-family: 'Poppins', sans-serif;
				font-weight: 600;
				font-size: 20px;
				line-height: 30px;
				color: #333333;
				margin-block-end: 20px;
				padding-block-end: 0;

				@media screen and (max-width: 991px){
					font-size: 18px;
					line-height: 26px;
				}
			}

			p:not(.rankings-popup--widget--subtitle){
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
				font-size: 16px;
				line-height: 26px;
				color: #333333;
			}

			p + p{
				padding-block-start: 0;
			}

			ul{
				margin-block-start: 0;
				padding-inline-start: 0;
				list-style-type: none;

				li{
					position: relative;
					margin-block-end: 20px;
					padding-block-end: 0;
					padding-inline-start: 30px;

					&::before{
						content: '';
						background-color: #1A237E;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						position: absolute;
						left: 0;
						top: 8px;
					}
				}
			}
		}

		&--overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, .3);
    		backdrop-filter: blur(3px);
			z-index: 1000;
		}

		.hidden {
			display: none;
		}
	}
}

// Override titles color
div#primary {
    div.ios-device {
        div.is-block-center {
            p.rankings-list__item-blurbs__title:not(.has-text-color),
            p.rankings-list__item-data__title:not(.has-text-color){
                color: #1A237E !important;
            }
        }
    }
}