// Public Service Degrees Testimonial Card Styles
// Primary colors for PSD brand


.testimonial-card {
	&--psd {
		border-left: 2px solid var(--vtx-primary-color);
		padding-inline: 30px 20px;
		display: flex;
		flex-direction: row;
		gap: 60px;
		align-items: center;
		justify-content: space-between;
		background: #fff;
		margin-left: 30px;
		margin-bottom: 60px;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 30px;
			margin-left: 10px;
			padding-inline: 26px 10px;
		}

        &__header{
            margin-block-end: 20px;
        }

		&__expert {
			border-left: 2px solid var(--vtx-primary-color);
		}

		&__content {
			flex: 1 1 0%;
		}

		&__student {
			border-left: 2px solid var(--vtx-link-color);
		}

		&__type {
            font-family: var(--vtx-primary-font);
			font-size: 22px !important;
			line-height: 30px;
			font-weight: 400;
			color: #0E2B89;
            background-color: #E7F0F8;
            padding-block: 6px;
            padding-inline: 20px;
            border-radius: 6px;
			position: relative;
            display: inline;

			@media screen and (max-width: 768px) {
				font-size: 18px !important;
			}
		}

		&__text {
            font-family: var(--vtx-primary-font);
			position: relative;
			font-size: 20px;
			line-height: 24px;
			font-weight: 400;
			color: #333333;
			margin: 0 0 20px 0;
            padding-block-end: 20px;
			display: flex;
			flex-direction: row;
			gap: 20px;

			@media screen and (max-width: 768px) {
				margin: 20px 0;
				flex-direction: column;
				font-size: 16px;
				line-height: 22px;
			}

            &:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #d2d2d2;
			}
		}

		&__user {
			display: flex;
			flex-direction: row-reverse;
			justify-content: flex-end;
			align-items: end;
			gap: 10px;

			@media screen and (max-width: 768px) {
				justify-content: flex-start;
			}

			&.hidden-mobile {
				@media screen and (max-width: 768px) {
					display: none;
				}
			}

			&.hidden-desktop {
				display: none;

				@media screen and (max-width: 768px) {
					display: inline-block;
					margin-top: 30px;
					z-index: 10;
				}
			}
		}

		&__user-name {
            font-family: var(--vtx-primary-font);
            font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			color: var(--vtx-text-color);
            text-decoration: none;
            
            &:hover{
                color: var(--vtx-link-color);
            }
		}
        
		&__user-credentials {
            font-family: var(--vtx-primary-font);
            font-size: 18px;
			line-height: 26px;
			font-weight: 400;
			color: var(--vtx-text-color);
            text-decoration: none;
            
            &:hover{
                color: var(--vtx-link-color);
            }
		}

		&__image {
			border-radius: 100px;
			width: 34px;
			height: 36px;
			object-fit: cover;
		}
	}


}


// .testimonial-card__student {
// 	.testimonial-card--psd__type {
// 		color: var(--vtx-link-color);
// 	}
// }

